        <form id="form"   #sendForm="ngForm"  >
            <h2>Напишите нам</h2>
          
            <fieldset>             
                <label for="name">Ваше имя</label>
                <input  class="form-control" type="text" name="nameContact" [(ngModel)]="message.contact.name" #nameContact2="ngModel" required />
                <div [hidden]="nameContact2.valid || nameContact2.untouched" class="alert alert-danger">
                    Не указано имя
                  </div>                          
                
                    <label for="email">Ваш Email</label>
                    <input class="form-control" type="text" name="email"  [(ngModel)]="message.contact.email"   #email2="ngModel"
                    required email  />  
                    <div [hidden]="email2.valid || email2.untouched" class="alert alert-danger">
                        Некорректный email
                      </div>     

                      <label for="phone">Ваш телефон</label>
                        <input [textMask]="{mask: PHONE_MASK}"  class="form-control" type="text" name="phone" [(ngModel)]="message.contact.phone"   #messagePhone="ngModel" 
                        required  [pattern]="PHONE_PATTERN" />
                        <div [hidden]="messagePhone.valid || messagePhone.untouched" class="alert alert-danger">Некорректный номер телефона </div>
                
                <label >Тема</label>
                
                <select   name="topics2"  ng-invalid  [(ngModel)]="message.topic" #topic="ngModel" required>    
                                            
                        <option *ngFor="let topic of topics2" [ngValue]="topic">{{ topic.nameOfTopic }}</option>
                </select>    
                <div [hidden]="topic.valid || topic.untouched" class="alert alert-danger">Не введено сообщение</div>
                
                    <label for="text">* Сообщение:</label>
                    <textarea name="textMess"  cols="30" rows="10" [(ngModel)]="message.textOfMessage" #messageText="ngModel" required></textarea>
                    <div [hidden]="messageText.valid || messageText.untouched" class="alert alert-danger">Не введено сообщение</div>
                          
                    <button type="submit"
                     [disabled]="messagePhone.invalid || messageText.invalid || topic.invalid || nameContact2.invalid || email2.invalid"
                      (click)="sendMessage(); sendForm.reset()" >Отправить</button>  
            </fieldset>         
           
        </form>

 